DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=

# Docker Compose / PostgreSQL
POSTGRES_USER=serverlegends
POSTGRES_PASSWORD=changeme
POSTGRES_DB=serverlegends

# Lokalne uruchomienie (bez Dockera)
DATABASE_URL=postgresql://serverlegends:changeme@localhost:5432/serverlegends

# Produkcja / Kubernetes
# DATABASE_URL=postgresql://serverlegends:twoje_haslo@postgres.postgres.svc.cluster.local:5432/serverlegends

# Tryb developerski
NODE_ENV=development
DEV_USER_IDS=
